# pre-commit autoupdate
---
default_language_version:
  python: python3
minimum_pre_commit_version: '3.4.0'
default_stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-case-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        exclude: ^.pre-commit-config.yaml$
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: \.txt$

  ####################################################################################################
  # NOTEBOOK
  ####################################################################################################

  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: 'jupyter truncate output'
        verbose: true
        files: ^notebook\/.*\.ipynb$
        args: [ "--extra-keys", "metadata.pycharm" ]

  ####################################################################################################
  # PYTHON
  ####################################################################################################


  - repo: https://github.com/abravalheri/validate-pyproject
    rev: 'v0.14'
    hooks:
      - id: validate-pyproject
        name: 'python validate pyproject'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.287
    hooks:
      - id: ruff
        name: 'python ruff'
        files: ^(dags|dbts|dags-test)/
        args: [ --fix, --exit-non-zero-on-fix ]
        types_or: [ python, pyi, jupyter ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.5.1'
    hooks:
      - id: mypy
        name: 'python type check'
        verbose: true
        files: ^(dags|dbts|dags-test)/
        types: [ python ]
        args: [ "--config-file", "./mypy.ini", ]
        additional_dependencies:
          - tokenize-rt==3.2.0
          - tomli >= 0.2.6, < 2.0.0
          - click >= 8.1.0, != 8.1.4, != 8.1.5
          - packaging >= 22.0
          - platformdirs >= 2.1.0
          # Type stubs
          - attrs
          - types-attrs
          - types-PyYAML
          - types-requests
          - types-python-dateutil
          - types-docutils
          # Typed libraries
          - pytest
          - hypothesis

  - repo: local
    hooks:
      - id: pytest
        name: 'python pytest'
        entry: make test
        language: system
        pass_filenames: false
        types: [ python ]
        stages: [ commit, push ]

  #  - repo: https://github.com/psf/black
  #    rev: 23.7.0
  #    hooks:
  #      - id: black
  #        name: 'python black'
  #        verbose: true
  #        files: ^(dags|dbts)/
  #        types: [ python ]
  #        args: [ --line-length=120 ]
  #
  #      - id: black-jupyter
  #        name: 'jupyter black'
  #        verbose: true
  #        files: ^(notebook)/
  #
  #  - repo: https://github.com/PyCQA/autoflake
  #    rev: v2.2.0
  #    hooks:
  #      - id: autoflake
  #        name: 'python autoflake'
  #        args: [
  #          --in-place,
  #          --remove-all-unused-imports,
  #          --remove-unused-variables,
  #        ]
  #
  #  - repo: https://github.com/pycqa/flake8
  #    rev: 6.1.0
  #    hooks:
  #      - id: flake8
  #        name: 'python flake8'
  #        verbose: true
  #        files: ^(dags|dbts)/
  #        types: [ python ]
  #        additional_dependencies:
  #          - flake8-blind-except
  #          - flake8-docstrings
  #          - flake8-bugbear
  #          - flake8-comprehensions
  #          - flake8-docstrings
  #          - flake8-implicit-str-concat
  #          - flake8-simplify
  #          - Flake8-pyproject
  #          - pydocstyle>=5.0.0
  #
  #  - repo: https://github.com/pycqa/isort
  #    rev: 5.12.0
  #    hooks:
  #      - id: isort
  #        name: 'python isort'
  #        verbose: true
  #        files: ^(dags|dbts)/

  ####################################################################################################
  # GIT
  ####################################################################################################

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        name: 'git commit message enforcement'
        verbose: true
        stages: [ commit-msg ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: 'git conflict enforcement'
        verbose: true

  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v4.4.0
  #   hooks:
  #     - id: no-commit-to-branch
  #       name: 'git branch name enforcement'
  #       verbose: true
  #       args: ['--pattern', '^(?!(feature/hotfix))/.*']
  #       # args: [ '--branch', 'master', '--branch', 'main', '--pattern', 'release/.*' ]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        types_or: [ python, rst, markdown, cython, c ]
        additional_dependencies: [ tomli ]

  # - repo: https://github.com/dbt-checkpoint/dbt-checkpoint
  #   rev: v1.1.1
  #   hooks:
  #     # - id: dbt-deps
  #     # name: 'dbt deps'
  #     # verbose: true
  #     - id: dbt-compile
  #       name: 'dbt compile'
  #       verbose: true
  #     - id: dbt-test
  #       name: 'dbt test'
  #       verbose: true

  ####################################################################################################
  # SQL
  ####################################################################################################
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.1
    hooks:
      - id: sqlfluff-fix
        name: 'sqlfluff fix'
        verbose: true
        files: ^(dags|dbts)/
        additional_dependencies: [ 'dbt-trino', 'sqlfluff-templater-dbt' ]
      - id: sqlfluff-lint
        name: 'sqlfluff lint'
        verbose: true
        files: ^(dags|dbts)/
        additional_dependencies: [ 'dbt-trino', 'sqlfluff-templater-dbt' ]
