[mysqld]
server-id= 1
skip-host-cache
skip-name-resolve
user=mysql
symbolic-links=0 # Disabling symbolic-links is recommended to prevent assorted security risks

# ----------------------------------------------
# Enable the binlog for replication & CDC
# ----------------------------------------------

binlog-format=row
log_bin=mysql-bin
expire_logs_days=7
max_binlog_size=100M
